# Phantom API credentials
PHANTOM_API_KEY=your_api_key_here
PHANTOM_SESSION_TOKEN=your_session_token_here


#DB CREDENTIALS
DB_URL = Your db url here
DB_USERNAME = your db username here
DB_PASSWORD = your db password here